<h2><%= @question.title %></h2>
<p>Answer: <%= @question.answer %></p>
<p>Last Edited By: <%= @last_edited_by.email %></p>
<p><%= link_to "Edit Question", edit_question_path %></p>
<%= link_to "New Question", new_question_path %>

